.adjustments {
  padding: 0 30px 40px;
  &__title {
    color: #fff;
    background-color: #000;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4em;
    padding: 2rem 0 2rem;
    text-align: center;
    margin: 6rem 0 2rem;
  }
}

@media (min-width: $tablet-width) {
  .adjustments {
    padding: 0 30px 40px 30px;
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      grid-row-gap: 15px;
    }
    &__title {
      font-size: 35px;

    }
  }
}

@media (min-width: $desktop-width) {
  .adjustments {
    &__title {
      font-size: 50px;
    }
    &__wrapper {
      max-width: 980px;
      margin: 0 auto;
    }
  }
}
