.adjustment {
  margin-bottom: 25px;
  border-top: 163px solid transparent;
	margin-top: -163px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-size: 20px;
    line-height: 1em;
    font-weight: 700;
    color: #2F2E2E;
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: left;
    margin-bottom: 32px;

    &::before {
      content: "";
      display: block;
      margin-right: 20px;
      min-width: 70px;
      min-height: 70px;
      background-size: 70px;
      border-radius: 35px;
      background-color: #ccc;
      box-shadow: (0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6));
    }

    &--price {
      &::before {
        background-image: url(../img/adjustment_price.svg);
        background-size: 100%;
      }
    }

    &--materials {
      &::before {
        background-image: url(../img/adjustment_materials.svg);
        background-size: 49px;
        background-position: 60%;
      }
    }

    &--hands {
      &::before {
        background-image: url(../img/adjustment_hands.svg);
        background-size: 60px 41px;
        background-position: center;
      }
    }

    &--individual {
      &::before {
        background-image: url(../img/adjustment_individual.svg);
        background-size: 60px 41px;
        background-position: center;
      }
    }

    &--money {
      &::before {
        background-image: url(../img/adjustment_money.svg);
        background-size: 56px 35px;
        background-position: center;
      }
    }

    &--heart {
      &::before {
        content: "MT";
        font-size: 19px;
        color: rgb(249, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/adjustment_heart.svg);
        background-size: 56px 51px;
        background-position: center 70%;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 700;
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: 0.1em;
    padding: 0 10px 10px;
    border-bottom: 2px solid rgb(249, 0, 0);
  }
}

@media (min-width: $tablet-width) {
  .adjustment {
    width: 300px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: none;
  	margin-top: 0;

    &__text {
      font-size: 20px;
      height: 132px;
      padding: 10px;
      display: flex;
      align-items: center;
      border: none;
      width: 250px;

      &--toLeft {
        padding-right: 13px;
        background-image: linear-gradient(to left, rgba(249, 0, 0) 0, rgba(249, 0, 0) 3px, transparent 3px);
        position: relative;
        animation: toLeft 0.9s;
        padding-left: 20px;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          background-color: rgb(249, 0, 0);
        }

        &::before {
          width: 250px;
          height: 2px;
          top: 0;
          animation: toLeft-long 0.8s;
        }

        &::after {
          width: 85px;
          height: 4px;
          bottom: 0;
          animation: toLeft-short 1.2s;
        }
      }

      &--toRight {
        padding-left: 13px;
        background-image: linear-gradient(to right, rgba(249, 0, 0) 0, rgba(249, 0, 0) 3px, transparent 3px);
        position: relative;
        animation: toRight 0.9s;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          margin: 0 auto;
          background-color: rgb(249, 0, 0);
        }

        &::before {
          width: 250px;
          height: 2px;
          top: 0;
          animation: toRight-long 0.8s;
        }

        &::after {
          width: 85px;
          height: 4px;
          bottom: 0;
          animation: toRight-short 1.2s;
        }
      }
    }

    &__title {
      display: block;
      font-size: 25px;
      margin-bottom: 30px;
      text-align: center;

      &::before {
        width: 100px;
        height: 100px;
        margin: 0 auto 25px;
        border-radius: 50px;
      }

      &--hands::before {
        background-size: 78px 53px;
      }

      &--money::before {
        background-size: 65px 47px;
      }

      &--materials::before {
        background-size: 60px 60px;
      }

      &--individual::before {
        background-size: 60px 60px;
      }

      &--heart::before {
        background-size: 66px 60px;
        font-size: 25px;
        background-position-y: 60%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .adjustment {
    width: 250px;
  }
}

@keyframes toRight {
  0% {
    background-position-x: -3px;
  }

  91% {
    background-position-x: -3px;
  }

  100% {
    background-position-x: 0;
  }
}

@keyframes toLeft {
  0% {
    background-position-x: 3px;
  }

  91% {
    background-position-x: 3px;
  }

  100% {
    background-position-x: 0;
  }
}

@keyframes toRight-long {
  0% {
    width: 0;
    left: 125px;
  }

  100% {
    width: 250px;
    left: 0;
  }
}

@keyframes toLeft-long {
  0% {
    width: 0;
    right: 125px;
  }

  100% {
    width: 250px;
    right: 0;
  }
}

@keyframes toRight-short {
  0% {
    width: 0;
  }

  66.6% {
    width: 0;
  }

  100% {
    width: 85px;
  }
}

@keyframes toLeft-short {
  0% {
    width: 0;
    right: 85px;
  }

  66.6% {
    width: 0;
    right: 85px;
  }

  100% {
    right: 0;
    width: 85px;
  }
}
