.card {
  min-width: 100%;
  text-align: center;
  display: block;
  line-height: 1;
  color: #000;

  &__info {
    display: none;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__img-wrapper {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__btn {
    background-color: rgb(249, 0, 0);
    font-size: 13.6px;
    line-height: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    padding: 5px 12px;
    transition: all .2s;
    border-radius: 3px;
    &:hover {
      background-color: #DBDBDB;
      color: #1e1e1e;
    }
  }

  &__img {
    transition: all .2s;
    width: 100%;
    object-fit: cover;
    height: 199.5px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-size: 20px;
  }

  &__square {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .card {
    min-width: 320px;

    &__img {
      height: 240px;
    }

    &__btn {
      font-size: 19px;
      padding: 8.5px 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    min-width: 32.65%;
    &__img {
      height: 391px;
    }
  }
}
