.controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  &__item {
    width: 40px;
    height: 40px;
    display: block;
    background-size: 40px;

    &--whatsapp {
      background-image: url(../img/aside__whatsapp.svg);
    }
  }
}

@media (min-width: $tablet-width) {
  .controls__item {
    width: 50px;
    height: 50px;
    background-size: 50px;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (min-width: $desktop-width) {
  .controls__item {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
}
