.controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  &__item {
    height: 4.4rem;
    border-radius: 2.2rem;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    background-color: #fff;
    color: #424242;
    box-shadow: 0 5px 10px rgba(#000, .7);
    transition: all .2s;
  }
  &__icon {
    width: 3.8rem;
    height: 3.8rem;
  }

  &__text {
    font-size: 1.6rem;
    padding: 0 .5rem;
  }
}

@media (min-width: $tablet-width) {
  .controls {
    bottom: 60px;
    &__item {
      &:hover {
        transform: scale(1.1) translateY(-5px);
        box-shadow: 0 10px 20px rgba(#000, .5);
      }
    }
  }
}
