.design {
  padding-bottom: 30px;
  border-top: 102px solid transparent;
	margin-top: -102px;
  background-color: #fff;

  &__title {
    background-color: #000;
    color: rgb(245,245,245);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding: 17px 0;
  }

  &__wrapper {
    padding: 0 30px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }

  &__slider {
    display: flex;
    transition: all .2s;
  }

  &__control {
    display: block;
    position: absolute;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 60px;
    bottom: 15px;
    z-index: 2;

    &--left {
      display: none;
      left: 30px;
      background-image: url(../img/slider_leftBtn.svg);
    }

    &--right {
      right: 30px;
      background-image: url(../img/slider_rightBtn.svg);
    }
  }
}

@media (min-width: $tablet-width) {
  .design {
    border-top: none;
	  margin-top: 0;

    &__title {
      font-size: 35px;
    }

    &__wrapper {
      padding: 0 50px;
    }
    &__control {
      height: 368px;
      min-width: 80px;
      top: 0;
      background-size: 30px 50px, 100% 100%;
      background-position-y: 140px, 0;
      z-index: 1;
      cursor: pointer;

      &--right {
        right: 0px;
        background-position-x: 50px, 0;
        background-image:  url(../img/slider_rightBtn.svg), linear-gradient(to right, transparent, #fff 30%);
      }

      &--left {
        left: 0;
        background-image:  url(../img/slider_leftBtn.svg), linear-gradient(to left, transparent, #fff 30%);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .design {
    &__wrapper {
      padding: 0;
      max-width: 1020px;
      margin: 0 auto;
    }

    &__title {
      font-size: 50px;
    }

    &__control {
      height: 368px;
      min-width: 80px;
      top: 0;
      background-size: 30px 50px, 100% 100%;
      background-position-y: 140px, 0;
      z-index: 1;
      cursor: pointer;

      &--right {
        right: 0px;
        background-position-x: 50px, 0;
        background-image:  url(../img/slider_rightBtn.svg), linear-gradient(to right, transparent, #fff 30%);
      }

      &--left {
        left: 0;
        background-image:  url(../img/slider_leftBtn.svg), linear-gradient(to left, transparent, #fff 30%);
      }
    }
  }
}
