.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  min-height: 102px;

  &__mobile-container  {
    position: absolute;
    top: 2.5vw;
    z-index: 9;
    right: 2.5vw;
    width: 68px;
  }

  &__opacity {
    opacity: 0;
  }

  &__wrapper {
    padding: 10px;
    position: relative;
  }
  &__logo {
    display: inline-block;
    width: 50%;
    min-width: 152px;
    max-width: 315px;
    margin-bottom: 12px;
  }
  &__item,
  &__item a {
    color: rgb(245, 245, 245);
    font-size: 12px;
    letter-spacing: 0.01em;
    font-family: "TenorSans";
    font-weight: 400;
    line-height: 1.3em;
    // min-width: 168px;
  }
  &__description {
    // max-width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--address {
      display: none;
    }
  }

  &__item--time {
    display: none;
  }

  &__item a:hover {
    color: rgb(249, 0, 0);
  }
  &__burger {
    width: 34px;
    height: 34px;
    cursor: pointer;
    display: block;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(201, 40, 40);
    border-radius: 1vw;
    margin: 0 auto;
    margin-bottom: 2.5vw;
    & span {
      position: relative;
      height: 100%;
      display: block;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        transition: 0.25s transform, 0.25s top 0.25s;
        width: 22px;
        height: 2px;
        min-height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(201, 40, 40);
      }
      &::before {
        top: 30%;
      }
      &::after {
        top: 60%;
      }
    }
  }
  &__menu {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    transition: 0.4s opacity, 0.1s z-index 0.4s;
    height: 0;
    overflow: hidden;
  }
  &--opened {
    & .header__burger {
      & span::before,
      & span::after {
        top: 50%;
        transition: 0.25s top, 0.25s transform 0.25s;
      }
      & span::after {
        transform: translateX(-50%) rotate(-45deg);
      }
      & span::before {
        transform: translateX(-50%) rotate(45deg);
      }
    }
    & .header__menu {
      height: 100vh;
      padding-top: 100px;
      z-index: 2;
      opacity: 1;
      transition: 0.1s z-index, 0.4s opacity 0.1s;
    }
    & .header__description--address {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 3;
      width: calc(100vw - 64px);

      & li,
      & a {
        color: #000;
        font-weight: 700;
      }
    }

    & .header__item--time {
      display: block;
      position: fixed;
      z-index: 3;
      color: #000;
      font-weight: 700;
      top: 72.5px;
      left: 10px;
    }
  }
}

@media (min-width: 434px) {
  .header {
    min-height: 89px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 178px;
    &__burger {
      display: none;
    }
    &__logo {
      margin-bottom: 0;
    }
    &__menu,
    &--opened .header__menu {
      display: none;
    }
    &__item,
    &__item a {
      font-size: 15px;
    }

    &__item--time {
      display: block;
    }
    &__description {
      display: block;
      &--address {
        display: block;
      }
    }
    &__description-wrapper {
      max-width: 60%;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 98px;
    &__description-wrapper {
      max-width: 65%;
      display: flex;
    }
    &__description {
      min-width: 299px;
      width: 50%;
      &--address {
        min-width: 354px;
      }
    }
    &__wrapper {
      max-width: 1120px;
      margin: 0 auto;
    }
    &__item,
    &__item a {
      font-size: 15px;
    }
  }
}
