.main {
  padding-top: 102px;
  &__bg {
    // height: calc(100vh - 102px);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, .6) 100%), url(../img/bg_main.webp);
    background-size: cover;
    background-position: center;
  }

  &__wrapper {
    padding: 40px 7.5vw 20px 7.5vw;
    display: grid;
    margin-bottom: 48px;
    grid-template-columns: 1fr;
  }

  &__left {
    margin-bottom: 20px;
  }

  &__right {
    background-color: rgba(249, 0, 0, .8);
    border-radius: 10px;
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    max-width: 400px;
  }

  &__bonus {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #656666;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      background-position: center;
      margin-right: 20px;
    }

    &--ruler::before {
      background-image: url(../img/ruler.svg);
    }

    &--contract::before {
      background-image: url(../img/contract.svg);
    }

    &--foundation::before {
      background-image: url(../img/foundation.svg);
    }
  }

  &__title {
    font-size: 5vw;
    line-height: 1.25em;
    color: rgb(245, 245, 245);

    &--animation {
      animation: opacity 2s;
    }

    &--light {
      font-weight: 400;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__button {
    cursor: pointer;
    margin: 0 auto 50px;
    display: block;
    background-color: rgb(249, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: (0 1px 4px rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6));
    font-weight: 700;
    font-size: 13.6px;
    line-height: 1.4em;
    padding: 5px 20px;
    position: relative;
    transition: all .2s;
    border-radius: 3px;

    &:hover {
      background-color: #DBDBDB;
      color: #1e1e1e;
    }

    &--animation {
      animation: opacity 1.5s;
    }

    &--express {
      padding-top: 6px;
      padding-bottom: 6px;
      animation: button-opacity 1.5s, main-express 1.5s infinite;
      margin: 0 auto;
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 26px;
      width: 165px;
      background-image: url(../img/button_shadow.png);
      background-position-x: 100%;
      bottom: -26px;
      right: -20px;
    }
  }
}

@media (min-width: 434px) {
  .main {
    padding-top: 89px;
  }
}

@media (min-width: $tablet-width) {
  .main {
    padding-top: 178px;

    &__bg {
      height: calc(100vh - 178px);
    }

    &__button {
      font-size: 20px;
    }

    &__right {
      max-width: 500px;
      margin-bottom: 70px;
    }

    &__left {
      margin-bottom: 40px;
    }

  }
}

@media (min-width: $desktop-width) {
  .main {
    min-height: 100vh;
    padding-top: 100px;

    &__bg {
      min-height: calc(100vh - 100px);
      height: auto;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 60px;
      background-image: linear-gradient(to right, rgb(249, 0, 0) 0, rgb(249, 0, 0) 10px, transparent 10px);
      padding: 60px 0 60px 40px;
      position: relative;
      margin-bottom: 80px;

      &--animation {
        animation: main-text 1s;
        animation-timing-function: ease;

        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          height: 10px;
          background-color: red;
          animation-timing-function: ease;
        }

        &::after {
          width: 664px;
          animation: border-long 1.4s;
          bottom: 0;
        }

        &::before {
          top: 0;
          width: 200px;
          animation: border-short 1.2s;
        }
      }
    }

    &__wrapper {
      margin: 0 auto;
      padding: 40px 40px 0 40px;
      margin-bottom: 80px;
      grid-template-columns: 50% 50%;
      max-width: 1450px;
    }

    &__right {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
      justify-self: flex-end;
      margin: 0 auto;
    }

    &__left {
      grid-column: 1/-1;
      width: 80%;
      margin-bottom: 0;
    }

    &__bonus {
      padding: 2rem 2.5rem;
      &::before {
        min-width: 30px;
      }
    }

    &__buttons {
      padding-left: 45px;
      justify-self: flex-start;
      grid-row: 2/3;
    }

    &__button {
      margin-bottom: 110px;

      &--express {
        display: block;
        margin-bottom: 0;
      }
    }
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
    background-position-x: -10px;
  }

  75% {
    background-position-x: -10px;
    opacity: 1;
  }

  100% {
    background-position-x: 0;
  }
}

@keyframes main-express {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes border-long {
  0% {
    width: 0px;
  }

  71% {
    width: 0px;
  }

  100% {
    width: 665px;
  }
}

@keyframes border-short {
  0% {
    width: 0;
  }

  83% {
    width: 0px;
  }

  100% {
    width: 200px;
  }
}

@keyframes button-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.opacity {
  animation: opacity .8s;
}
