.menu {
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;

  &__list {
    border-top: 1px solid #000;
    width: 100%;
    padding-top: 40px;
  }

  &__item {
    display: block;
    color: rgb(30, 30, 30);
    font-family: "Arial";
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: none;
  }
}
