.menu {
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    display: block;
    color: rgb(30, 30, 30);
    font-family: "Arial";
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: none;
  }
}
