.quiz {
  border-top: 102px solid transparent;
	margin-top: -102px;
  text-align: center;
  padding: 30px 0;

  &__form {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &::before {
      content: "";
      width: 6rem;
      height: 6rem;
      background-size: 6rem;
      display: block;
      background-position: center;
      margin-bottom: 10px;
    }

    &--guard::before {
      background-image: url(../img/quiz-type--guard.svg);
    }
    &--kiosk::before {
      background-image: url(../img/quiz-type--kiosk.svg);
    }
    &--row::before {
      background-image: url(../img/quiz-type--row.svg);
    }
    &--shop::before {
      background-image: url(../img/quiz-type--shop.svg);
    }
  }

  &__result {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    display: none;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__question,
  &__status {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__field {
    border: 2px solid #000;
    padding: 15px 0;
    border-radius: 15px;
    height: 503px;
    background-color: #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;

    &--2r {
      max-width: 600px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &--map {
      display: flex;
      flex-direction: column;
      align-content: center;
      position: relative;
    }

    &--form {
      flex-direction: column;
      max-width: 500px;
      align-items: center;

      & .quiz__input {
        margin-bottom: 30px;
        width: 80%;
      }
    }
  }

  &__submit {
    margin-bottom: 0 !important;

    &:hover {
      background-color: #858282 !important;
    }
  }

  &__counter {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  &__radio {
    display: none;
  }

  &__search {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #91ea12;

    &:focus {
      outline: none;
    }

    &:invalid {
      border: 2px solid red;
    }
  }

  &__radio:checked+&__btn {
    background-color: #91ea12;
    color: #000;
  }

  &__map {
    width: 90%;
    margin: 0 auto;
    height: 280px;
  }

  &__btn {
    text-transform: uppercase;
    background-color: #858282;
    border-radius: 10px;
    padding: 10px 0;
    width: 170px;
    display: block;
    cursor: pointer;
    transition: all .2s;
    font-weight: 700;
    color: #fff;
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.05) translateY(-3px);
      box-shadow: 0 5px 10px rgba(#000, .6);
    }
  }

  &__answer {
    display: flex;
    flex-direction: column;
    width: 60%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &--alt {
      & label {
        margin: 0;
        padding: 5px 0;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          font-size: 20px;
          line-height: 1;
          display: block;
          width: 20px;
          height: 20px;
          background-image: url(../img/quiz-unchecked.svg);
          background-size: 22px;
          background-position: center;
          margin-right: 15px;
        }
      }
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__input {
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #91ea12;

    &:invalid {
      border: 2px solid rgb(249, 0, 0);
    }

    &:focus {
      outline: none;
    }

    &:not(:required) {
      border: 2px solid #000;
    }
  }

  &__checkbox {
    display: none;

    &:checked + label::before {
      background-image: url(../img/quiz--checked.svg);
    }
  }

  &__control {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    outline: none;

    &:focus path {
      stroke: rgb(18, 116, 18);
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    transition: all .2s;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__message {
    grid-column: 2;
    font-size: 19px;

    & .form__status {
      color: #000;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__error {
    color: rgb(249, 0, 0);
  }

  &__next {
    grid-column: 3;
  }

  &__prev {
    grid-column: 1;
  }

  &__controls {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: $mini-width) {
  .quiz {
    &__answer {
      margin-bottom: 0 !important;
    }

    &__field {
      height: 497px;
    }

    &__type {
      margin-bottom: 0 !important;

      ::before {
        width: 8rem;
        height: 8rem;
        background-size: 8rem;
      }
    }

    &__answers {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &--dimension {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }

      &--2r {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        align-items: center;
      }
    }

    &__btn {
      width: 155px;
      margin-bottom: 0 !important;
    }
  }
}

@media (min-width: $tablet-width) {
  .quiz {
    border-top: none;
	  margin-top: 0;

    &__search {
      margin-bottom: 10px;
    }

    &__label {
      font-size: 20px;
    }

    &__controls {
      bottom: 10px;
    }

    &__icon {
      width: 50px;
      height: 50px;
    }

    &__field {
      padding: 15px 0;
      height: 503px;
    }

    &__answers {
      margin-bottom: 50px;
    }

    &__counter {
      margin-bottom: 10px;
    }

    &__form {
      width: 80%;
    }

    &__result {
      width: 80%;
    }

    &__title {
      font-size: 28px;
    }

    &__question,
    &__status {
      font-size: 20px;
    }

    &__btn {
      width: 220px;
    }
  }
}

@media (min-width: $desktop-width) {
  .quiz {
    border-top: 98px solid transparent;
    margin-top: -98px;

    &__field {
      height: 515px;
    }

    &__answer {
      width: 80%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &--alt {
        grid-column: 1/-1;
        align-self: center;
        width: auto;
      }
    }

    &__answers {
      &--dimension {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
      }
    }

    &__title {
      font-size: 40px;
    }

    &__question,
    &__status {
      font-size: 28px;
    }
  }
}
