.services {
  display: none;

  &__text {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__btn {
    border: none;
    cursor: pointer;
    background-color: #FF2C00;
    color: rgb(245, 245, 245);
    border-radius: 3px;
    transition: all .2s;
    &:hover {
      background-color: #DBDBDB;
      color: #1e1e1e;
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
    }
  }
}

@media (min-width: $tablet-width) {
  .services {
    display: block;
    padding-bottom: 26px;
    padding-top: 18px;

    &__title {
      font-size: 36px;
      margin-bottom: 18px;
      font-weight: 700;
      line-height: 1.4em;
      text-align: center;
    }
    &__img {
      width: 360px;
      height: 282px;
      object-fit: cover;
      margin-right: 10px;
      margin-bottom: 56px;
      border-radius: 10px;
    }
    &__item {
      display: flex;
      width: 649px;
      margin: 0 auto 56px;
      padding: 0;
    }
    &__description {
      padding-top: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__btn {
      padding: 8.5px 18px;
      box-shadow: none;
      font-size: 19px;
      letter-spacing: 0.95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .services {
    padding-bottom: 26px;
    &__title {
      font-size: 50px;
    }
    &__wrapper {
      padding: 0;
      max-width: 1318px;
      margin: 0 auto;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 20px;
      grid-row-gap: 60px;
    }
    &__item {
      margin-bottom: 0;
    }

    &__img {
      transition: all .2s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(#000, .6);
        border-radius: 10px;
      }
    }
  }
}
