.steps {
  background-color: #000;
  color: #fff;
  padding: 30px 25px;

  &__title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__wrapper {
    margin-bottom: 20px;
  }

  &__btn {
    background-color: rgb(249, 0, 0);
    color: #fff;
    border: none;
    font-size: 13.6px;
    line-height: 1.4em;
    font-weight: 700;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s;
    display: block;
    margin: 0 auto;

    &:hover {
      background-color: #DBDBDB;
      color: #1e1e1e;
      ;
    }
  }
}

@media (min-width: $tablet-width) {
  .steps {
    padding: 35px 50px;

    &__title {
      font-size: 35px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__item {
      width: 30%;
      margin: 0 !important;
    }


    &__btn {
      font-size: 19px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-evenly;
    }

    &__item {
      width: 30%;

      &:not(:last-child) {
        margin: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .steps {

    &__title {
      font-size: 50px;
    }

    &__text {
      font-size: 25px;
    }

    &__content {
      max-width: 1318px;
      margin: 0 auto;
    }

    &__wrapper {
      gap: 30px;
      margin-bottom: 40px;
    }

    &__btn {
      padding: 8.5px 18px;
      box-shadow: none;
      font-size: 19px;
    }
  }
}
