@font-face {
  font-family: 'RubikLight';
  src: url("../fonts/Rubik-Light.woff2");
  font-display: swap;
  font-weight: 400; }

@font-face {
  font-family: 'RubikBold';
  src: url("../fonts/Rubik-Bold.woff");
  font-display: swap;
  font-weight: 700; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "RubikLight", sans-serif;
  font-style: normal;
  font-weight: 700; }

body {
  min-width: 270px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.hide {
  display: none; }

.header {
  background-color: #000;
  position: relative; }
  .header__wrapper {
    padding: 10px;
    position: relative; }
  .header__logo {
    display: inline-block;
    width: 50%;
    min-width: 152px;
    max-width: 315px;
    margin-bottom: 12px; }
  .header__item,
  .header__item a {
    color: whitesmoke;
    font-size: 12px;
    letter-spacing: 0.01em;
    font-weight: 700;
    line-height: 1.3em; }
  .header__item a:hover {
    color: #f90000; }
  .header__burger {
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-color: #1e1e1e;
    border: 2px solid #c92828;
    border-radius: 1vw;
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    z-index: 9; }
    .header__burger span {
      position: relative; }
      .header__burger span::before, .header__burger span::after {
        content: "";
        display: block;
        position: absolute;
        transition: 0.25s transform, 0.25s top 0.25s;
        width: 22px;
        height: 2px;
        min-height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #c92828; }
      .header__burger span::before {
        top: 4px; }
      .header__burger span::after {
        top: -6px; }
  .header__menu {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 0.4s opacity, 0.1s z-index 0.4s; }
  .header--opened .header__burger span::before,
  .header--opened .header__burger span::after {
    top: 0;
    transition: 0.25s top, 0.25s transform 0.25s; }
  .header--opened .header__burger span::after {
    transform: translateX(-50%) rotate(-45deg); }
  .header--opened .header__burger span::before {
    transform: translateX(-50%) rotate(45deg); }
  .header--opened .header__menu {
    z-index: 2;
    opacity: 1;
    transition: 0.1s z-index, 0.4s opacity 0.1s; }

@media (min-width: 768px) {
  .header__burger {
    display: none; }
  .header__logo {
    margin-bottom: 0; }
  .header__menu,
  .header--opened .header__menu {
    display: none; }
  .header__item,
  .header__item a {
    font-size: 15px; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (min-width: 980px) {
  .header {
    position: fixed;
    height: 114px;
    z-index: 2;
    width: 100%; }
    .header__wrapper {
      max-width: 980px;
      margin: 0 auto; }
    .header__item,
    .header__item a {
      font-size: 18px; } }

.menu {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu__item {
    display: block;
    color: #1e1e1e;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center; }

@media (min-width: 768px) {
  .menu {
    display: none; } }

.main__bg {
  background-image: url(../img/bg_main.webp);
  background-size: cover;
  background-position: center; }

.main__overlay {
  background-color: rgba(0, 0, 0, 0.6); }

.main__wrapper {
  padding: 50px 7.5vw 0 7.5vw; }

.main__title {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.25em;
  color: whitesmoke;
  margin-bottom: 48px; }
  .main__title--animation {
    -webkit-animation: opacity 2s;
            animation: opacity 2s; }

.main__button {
  cursor: pointer;
  margin-bottom: 46px;
  background-color: #f90000;
  color: white;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 13.6px;
  line-height: 1.4em;
  padding: 5px 20px;
  position: relative; }
  .main__button:hover {
    background-color: #DBDBDB;
    color: #1e1e1e; }
  .main__button--animation {
    -webkit-animation: opacity 2s;
            animation: opacity 2s; }
  .main__button::after {
    content: "";
    display: block;
    position: absolute;
    height: 26px;
    width: 165px;
    background-image: url(../img/button_shadow.png);
    background-position-x: 100%;
    bottom: -26px;
    right: -20px; }

@media (min-width: 768px) {
  .main__button {
    font-size: 20px; } }

@media (min-width: 980px) {
  .main {
    padding-top: 114px; }
    .main__title {
      display: flex;
      align-items: center;
      font-size: 60px;
      padding-left: 30px;
      border-left: 10px solid #f90000;
      height: 280px;
      position: relative;
      margin-bottom: 150px; }
      .main__title--animation {
        -webkit-animation: anim 2.011s;
                animation: anim 2.011s;
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease; }
        .main__title--animation::after, .main__title--animation::before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          height: 10px;
          background-color: red;
          -webkit-animation-timing-function: ease;
                  animation-timing-function: ease; }
        .main__title--animation::after {
          width: 664px;
          -webkit-animation: border-long 2.7s;
                  animation: border-long 2.7s;
          bottom: 0; }
        .main__title--animation::before {
          top: 0;
          width: 200px;
          -webkit-animation: border-short 2.21s;
                  animation: border-short 2.21s; }
    .main__wrapper {
      width: 980px;
      margin: 0 auto;
      padding: 40px 0 0 0; }
    .main__button {
      margin-bottom: 250px; }
      .main__button--animation {
        -webkit-animation: button-opacity 2.7s;
                animation: button-opacity 2.7s; } }

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    border-left: 0px solid #f90000;
    padding-left: 40px; }
  50% {
    opacity: 0;
    border-left: 0px solid rergb(249, 0, 0);
    padding-left: 40px; }
  99.4% {
    opacity: 1;
    border-left: 0px solid #f90000;
    padding-left: 40px; }
  100% {
    border-left: 10px solid #f90000;
    padding-left: 30px; } }

@keyframes anim {
  0% {
    opacity: 0;
    border-left: 0px solid #f90000;
    padding-left: 40px; }
  50% {
    opacity: 0;
    border-left: 0px solid rergb(249, 0, 0);
    padding-left: 40px; }
  99.4% {
    opacity: 1;
    border-left: 0px solid #f90000;
    padding-left: 40px; }
  100% {
    border-left: 10px solid #f90000;
    padding-left: 30px; } }

@-webkit-keyframes border-long {
  0% {
    width: 0px; }
  74% {
    width: 0px; }
  100% {
    width: 665px; } }

@keyframes border-long {
  0% {
    width: 0px; }
  74% {
    width: 0px; }
  100% {
    width: 665px; } }

@-webkit-keyframes border-short {
  0% {
    width: 0; }
  91% {
    width: 0px; }
  100% {
    width: 200px; } }

@keyframes border-short {
  0% {
    width: 0; }
  91% {
    width: 0px; }
  100% {
    width: 200px; } }

@-webkit-keyframes button-opacity {
  0% {
    opacity: 0; }
  45% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes button-opacity {
  0% {
    opacity: 0; }
  45% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.opacity {
  -webkit-animation: opacity 1s;
          animation: opacity 1s; }

.services {
  padding-top: 18px; }
  .services__wrapper {
    padding: 0 20px; }
  .services__title {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4em;
    text-align: center; }
  .services__img {
    margin-bottom: 30px; }
  .services__text {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 10px; }
  .services__btn {
    border: none;
    cursor: pointer;
    box-shadow: 0.79px 0.62px 7px black;
    background-color: #FF2C00;
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 0.7px;
    padding: 5px 8px; }
    .services__btn:hover {
      background-color: #DBDBDB;
      color: #1e1e1e; }
  .services__item {
    margin-bottom: 40px;
    padding-bottom: 10px; }
    .services__item:last-child {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .services {
    padding-bottom: 26px; }
    .services__title {
      font-size: 36px; }
    .services__img {
      width: 325px;
      height: 282px;
      -o-object-fit: cover;
         object-fit: cover;
      margin-right: 10px;
      margin-bottom: 56px; }
    .services__item {
      display: flex;
      width: 649px;
      margin: 0 auto 56px auto;
      padding: 0; }
    .services__description {
      padding-top: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
    .services__btn {
      padding: 8.5px 18px;
      box-shadow: none;
      font-size: 19px;
      letter-spacing: 0.95px; }
      .services__btn:hover {
        border: 1px solid #1e1e1e; } }

@media (min-width: 980px) {
  .services {
    padding-bottom: 26px; }
    .services__title {
      font-size: 50px; }
    .services__wrapper {
      padding: 0;
      max-width: 1318px;
      margin: 0 auto; }
    .services__container {
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 20px;
      grid-row-gap: 60px; }
    .services__item {
      margin-bottom: 0; } }

.experts__img {
  display: none; }

.experts__content {
  text-align: center;
  background-color: #000;
  padding: 30px 25px 0; }

.experts__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.35em;
  color: #fff;
  margin-bottom: 26px; }

.experts__text {
  font-size: 15px;
  line-height: 1.7em;
  font-weight: 700;
  color: whitesmoke;
  margin-bottom: 20px; }

.experts__btn {
  background-color: #f90000;
  font-size: 13.6px;
  line-height: 1.4em;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  padding: 5px 8px; }
  .experts__btn:hover {
    background-color: #DBDBDB;
    color: #1e1e1e; }

@media (min-width: 768px) {
  .experts {
    padding: 0; }
    .experts__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 696px; }
    .experts__img {
      background-image: url(../img/experts_img.jpg);
      background-size: cover;
      background-position-y: 20%;
      background-position-x: -200px;
      background-attachment: fixed; }
    .experts__title {
      font-size: 35px;
      margin-bottom: 33px; }
    .experts__img {
      display: inline; }
    .experts__text {
      text-align: left;
      font-size: 17px;
      margin-bottom: 55px; }
    .experts__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 15px;
      align-items: flex-start; }
    .experts__btn {
      font-size: 19px;
      padding: 8.5px 28px; } }

@media (min-width: 980px) {
  .experts {
    padding: 92px 80px;
    background-image: url(../img/experts_bg.webp);
    background-size: cover;
    background-position: 50% 50%; }
    .experts__wrapper {
      height: 696px; }
    .experts__title {
      font-size: 50px; }
    .experts__text {
      font-size: 20px; }
    .experts__content {
      padding: 0 70px; } }

.adjustments {
  padding: 25px 30px 40px; }
  .adjustments__title {
    color: #1e1e1e;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 38px; }

@media (min-width: 768px) {
  .adjustments {
    padding: 40px 30px; }
    .adjustments__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      grid-row-gap: 15px; }
    .adjustments__title {
      font-size: 35px;
      margin-bottom: 45px; } }

@media (min-width: 980px) {
  .adjustments__title {
    font-size: 50px; }
  .adjustments__wrapper {
    max-width: 980px;
    margin: 0 auto; } }

.adjustment {
  margin-bottom: 25px; }
  .adjustment:last-child {
    margin-bottom: 0; }
  .adjustment__title {
    font-size: 20px;
    line-height: 1em;
    font-weight: 700;
    color: #2F2E2E;
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 32px; }
    .adjustment__title::before {
      content: "";
      display: block;
      min-width: 70px;
      min-height: 70px;
      background-size: 70px;
      border-radius: 35px;
      background-color: #ccc;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6); }
    .adjustment__title--price::before {
      background-image: url(../img/adjustment_price.svg);
      background-size: 100%; }
    .adjustment__title--materials::before {
      background-image: url(../img/adjustment_materials.svg);
      background-size: 49px;
      background-position: 60%; }
    .adjustment__title--hands::before {
      background-image: url(../img/adjustment_hands.svg);
      background-size: 60px 41px;
      background-position: center; }
    .adjustment__title--individual::before {
      background-image: url(../img/adjustment_individual.svg);
      background-size: 60px 41px;
      background-position: center; }
    .adjustment__title--money::before {
      background-image: url(../img/adjustment_money.svg);
      background-size: 56px 35px;
      background-position: center; }
    .adjustment__title--heart::before {
      content: "MT";
      font-size: 19px;
      color: #f90000;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/adjustment_heart.svg);
      background-size: 56px 51px;
      background-position: center 70%; }
  .adjustment__text {
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 700;
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: 0.1em;
    padding: 0 10px 10px;
    border-bottom: 2px solid #f90000; }

@media (min-width: 768px) {
  .adjustment {
    width: 300px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .adjustment__text {
      font-size: 20px;
      height: 132px;
      padding: 10px;
      display: flex;
      align-items: center;
      border: none;
      width: 250px; }
      .adjustment__text--toLeft {
        border-right: 3px solid #f90000;
        position: relative;
        -webkit-animation: toLeft 0.9s;
                animation: toLeft 0.9s;
        padding-left: 20px; }
        .adjustment__text--toLeft::before, .adjustment__text--toLeft::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          background-color: #f90000; }
        .adjustment__text--toLeft::before {
          width: 250px;
          height: 2px;
          top: 0;
          -webkit-animation: toLeft-long 0.8s;
                  animation: toLeft-long 0.8s; }
        .adjustment__text--toLeft::after {
          width: 85px;
          height: 4px;
          bottom: 0;
          -webkit-animation: toLeft-short 1.2s;
                  animation: toLeft-short 1.2s; }
      .adjustment__text--toRight {
        border-left: 3px solid #f90000;
        position: relative;
        -webkit-animation: toRight 0.9s;
                animation: toRight 0.9s; }
        .adjustment__text--toRight::before, .adjustment__text--toRight::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          margin: 0 auto;
          background-color: #f90000; }
        .adjustment__text--toRight::before {
          width: 250px;
          height: 2px;
          top: 0;
          -webkit-animation: toRight-long 0.8s;
                  animation: toRight-long 0.8s; }
        .adjustment__text--toRight::after {
          width: 85px;
          height: 4px;
          bottom: 0;
          -webkit-animation: toRight-short 1.2s;
                  animation: toRight-short 1.2s; }
    .adjustment__title {
      display: block;
      font-size: 25px;
      margin-bottom: 30px; }
      .adjustment__title::before {
        width: 100px;
        height: 100px;
        margin: 0 auto 25px;
        border-radius: 50px; }
      .adjustment__title--hands::before {
        background-size: 78px 53px; }
      .adjustment__title--money::before {
        background-size: 65px 47px; }
      .adjustment__title--materials::before {
        background-size: 60px 60px; }
      .adjustment__title--individual::before {
        background-size: 60px 60px; }
      .adjustment__title--heart::before {
        background-size: 66px 60px;
        font-size: 25px;
        background-position-y: 60%; } }

@media (min-width: 980px) {
  .adjustment {
    width: 250px; } }

@-webkit-keyframes toRight {
  0% {
    border-left: 0px solid #f90000;
    padding-left: 13px; }
  91% {
    border-left: 0px solid #f90000;
    padding-left: 13px; }
  100% {
    border-left: 3px solid #f90000;
    padding-left: 10px; } }

@keyframes toRight {
  0% {
    border-left: 0px solid #f90000;
    padding-left: 13px; }
  91% {
    border-left: 0px solid #f90000;
    padding-left: 13px; }
  100% {
    border-left: 3px solid #f90000;
    padding-left: 10px; } }

@-webkit-keyframes toLeft {
  0% {
    border-right: 0px solid #f90000;
    padding-right: 13px; }
  91% {
    border-right: 0px solid #f90000;
    padding-right: 13px; }
  100% {
    border-right: 3px solid #f90000;
    padding-right: 10px; } }

@keyframes toLeft {
  0% {
    border-right: 0px solid #f90000;
    padding-right: 13px; }
  91% {
    border-right: 0px solid #f90000;
    padding-right: 13px; }
  100% {
    border-right: 3px solid #f90000;
    padding-right: 10px; } }

@-webkit-keyframes toRight-long {
  0% {
    width: 0;
    left: 125px; }
  100% {
    width: 250px;
    left: 0; } }

@keyframes toRight-long {
  0% {
    width: 0;
    left: 125px; }
  100% {
    width: 250px;
    left: 0; } }

@-webkit-keyframes toLeft-long {
  0% {
    width: 0;
    right: 125px; }
  100% {
    width: 250px;
    right: 0; } }

@keyframes toLeft-long {
  0% {
    width: 0;
    right: 125px; }
  100% {
    width: 250px;
    right: 0; } }

@-webkit-keyframes toRight-short {
  0% {
    width: 0; }
  66.6% {
    width: 0; }
  100% {
    width: 85px; } }

@keyframes toRight-short {
  0% {
    width: 0; }
  66.6% {
    width: 0; }
  100% {
    width: 85px; } }

@-webkit-keyframes toLeft-short {
  0% {
    width: 0;
    right: 85px; }
  66.6% {
    width: 0;
    right: 85px; }
  100% {
    right: 0;
    width: 85px; } }

@keyframes toLeft-short {
  0% {
    width: 0;
    right: 85px; }
  66.6% {
    width: 0;
    right: 85px; }
  100% {
    right: 0;
    width: 85px; } }

.design {
  padding-bottom: 30px; }
  .design__title {
    background-color: #000;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .design__title--last {
      text-align: left; }
    .design__title--first {
      text-align: right; }
    .design__title--last, .design__title--first {
      padding: 17px 0; }
  .design__content {
    padding: 0 20px; }
  .design__img {
    margin-bottom: 10px; }
  .design__text {
    font-size: 13px;
    line-height: 1em;
    text-align: center;
    color: #000; }
  .design__item {
    margin-bottom: 15px;
    display: block; }
    .design__item:last-child {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .design__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; }
  .design__text {
    font-size: 15px; }
  .design__item {
    margin-bottom: 0; }
  .design__title {
    font-size: 35px; }
    .design__title--last {
      background-color: #fff;
      color: #000;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px; } }

@media (min-width: 980px) {
  .design__text {
    font-size: 18px; }
  .design__content {
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    padding: 0; }
  .design__title {
    font-size: 50px; } }

.slider {
  min-width: 270px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4; }
  .slider__close {
    position: fixed;
    width: 38px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    z-index: 7;
    right: 10px;
    top: 10px; }
    .slider__close::after, .slider__close::before {
      content: "";
      display: block;
      top: 50%;
      left: 50%;
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #fff; }
    .slider__close::after {
      transform: translate(-50%, -50%) rotate(-45deg); }
    .slider__close::before {
      transform: translate(-50%, -50%) rotate(45deg); }
  .slider__leftBtn, .slider__rightBtn {
    width: 75px;
    height: 100vh;
    z-index: 6;
    border: none;
    background-color: transparent;
    background-size: 35px;
    background-position: 50%;
    position: fixed;
    top: 0; }
  .slider__leftBtn {
    background-image: url(../img/slider_leftBtn.svg);
    left: 0; }
  .slider__rightBtn {
    background-image: url(../img/slider_rightBtn.svg);
    right: 0; }
  .slider__counter {
    color: #fff;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 6;
    font-size: 16px; }
  .slider__text {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    z-index: 6;
    font-size: 16px; }
  .slider__img {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
    .slider__img--animated {
      opacity: 0; }

@media (min-width: 768px) {
  .slider__img {
    max-width: 75%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media (min-width: 980px) {
  .slider__close {
    width: 58px;
    height: 58px;
    top: 20px;
    right: 20px; }
    .slider__close::after, .slider__close::before {
      width: 33px; }
  .slider__text, .slider__counter {
    font-size: 20px; }
  .slider__counter {
    top: 30px;
    left: 30px; } }

.map__wrapper {
  background-color: #000;
  padding: 20px; }

.map__title {
  font-size: 23px;
  line-height: 1.3em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px; }

.map__btn {
  font-size: 13.6px;
  line-height: 1.4em;
  font-weight: 700;
  color: #fff;
  background-color: #f90000;
  border: none;
  margin-bottom: 10px;
  padding: 2px 10px;
  cursor: pointer;
  display: block; }
  .map__btn:hover {
    background-color: #DBDBDB;
    color: #1e1e1e; }
  .map__btn:last-child {
    margin-bottom: 0; }

.map__map {
  width: 100%;
  height: 300px;
  background-image: url(../img/map_fallback.jpg);
  background-position: center;
  background-size: 200%; }

@media (min-width: 768px) {
  .map__map {
    height: 500px; }
  .map__title {
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 20px; }
  .map__description {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .map__btn {
    width: 220px;
    margin-bottom: 20px;
    padding: 5px 0; }
    .map__btn:last-child {
      margin-bottom: 0; } }

@media (min-width: 980px) {
  .map__title {
    font-size: 40px; }
  .map__wrapper {
    padding: 20px 0; }
  .map__description {
    max-width: 1000px;
    margin: 0 auto; }
  .map__btn {
    font-size: 19px;
    width: 287px; }
  .map__map {
    height: 700px; } }

.contacts {
  padding: 20px;
  background-color: #000; }
  .contacts__description {
    display: none; }
  .contacts__title {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Arial"; }

@media (min-width: 768px) {
  .contacts {
    padding: 50px; }
    .contacts__description {
      display: block; }
    .contacts__info {
      width: 50%; }
    .contacts__wrapper {
      display: flex; }
    .contacts__title {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: left; }
    .contacts__text {
      font-size: 15px;
      display: block;
      line-height: 1.88em;
      color: whitesmoke;
      font-family: "Arial";
      font-weight: 400;
      margin-bottom: 28px;
      display: flex;
      align-items: center; }
      .contacts__text--mail::before, .contacts__text--phone::before {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background-size: 23px;
        margin-right: 10px; }
      .contacts__text--mail::before {
        background-image: url(../img/mail.svg); }
      .contacts__text--phone::before {
        background-image: url(../img/phone.svg); }
      .contacts__text:last-child {
        margin-bottom: 0; }
      .contacts__text--link:hover {
        color: #f90000; } }

@media (min-width: 980px) {
  .contacts {
    padding: 50px 20px; }
    .contacts__title {
      font-size: 40px; }
    .contacts__wrapper {
      max-width: 980px;
      margin: 0 auto; } }

.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center; }
  .form__label {
    font-size: 16px;
    font-family: "Arial";
    color: whitesmoke;
    line-height: 1;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    text-align: left; }
  .form__status {
    color: whitesmoke;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400; }
  .form__text {
    padding: 3px 12px;
    color: whitesmoke;
    background-color: #000;
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: "Arial"; }
    .form__text--area {
      height: 100px;
      resize: none; }
    .form__text:focus {
      outline: none; }
    .form__text:invalid {
      border-color: #ff4040; }
  .form__submit {
    font-size: 17.7px;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    background-color: #f90000;
    border: none;
    padding: 8px 5px;
    margin-bottom: 15px;
    cursor: pointer; }
    .form__submit:hover {
      background-color: #DBDBDB;
      color: #1e1e1e; }
  .form__field {
    margin-bottom: 10px; }
    .form__field:last-child {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .form {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1e1e1e; }
    .form__field {
      margin-bottom: 20px; }
      .form__field:last-child {
        margin-bottom: 0; }
    .form__text--area {
      height: 150px; }
    .form__submit {
      padding: 8px 20px; } }

.footer {
  padding: 20px; }
  .footer__logo {
    max-width: 315px;
    display: block;
    order: -2;
    margin-bottom: 20px; }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__social {
    order: -1;
    margin-bottom: 20px; }
  .footer__text {
    font-size: 13px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 20px; }
    .footer__text:hover:not(.footer__text--copyright) {
      color: #f90000; }
    .footer__text--copyright {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .footer__logo {
    display: none; }
  .footer__social {
    order: 0; }
  .footer__text {
    margin-bottom: 0;
    font-size: 15px; }
    .footer__text--copyright {
      font-size: 16px; }
  .footer__social {
    margin-bottom: 0; }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 980px) {
  .footer__wrapper {
    max-width: 980px;
    margin: 0 auto; } }

.social {
  display: flex; }
  .social li {
    margin-right: 15px; }
    .social li:last-child {
      margin-right: 0; }
  .social__item {
    display: block;
    width: 23px;
    height: 23px;
    background-position: center;
    background-size: 23px;
    transition: transform 0.5s; }
    .social__item:hover {
      transform: scale(1.4); }
    .social__item--vk {
      background-image: url(../img/vk.svg); }
    .social__item--whatsapp {
      background-image: url(../img/whatsapp.svg); }
    .social__item--telegram {
      background-image: url(../img/telegram.svg); }

@media (min-width: 768px) {
  .social__item {
    width: 30px;
    height: 30px;
    background-size: 30px; } }

/*# sourceMappingURL=style.css.map */
