@font-face {
  font-family: "RubikLight";
  src: url("../fonts/Rubik-Light.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "RubikBold";
  src: url("../fonts/Rubik-Bold.woff");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "TenorSans";
  src: url("../fonts/TenorSans.woff");
  font-display: swap;
  font-weight: 400;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "RubikLight", sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  min-width: 270px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.scrollUp {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url(../img/button_up.svg);
  background-color: rgb(249, 0, 0);
  border: none;
  background-size: 40px;
  bottom: 20px;
  right: 90px;
  cursor: pointer;
  animation-duration: 0.5s !important;
  z-index: 2;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .scrollUp {
    display: none;
  }
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.hide {
  display: none;
  opacity: 0;
}

.header {
  background-color: #000;
  position: relative;
}
.header__mobile-container {
  position: absolute;
  top: 2.5vw;
  z-index: 9;
  right: 2.5vw;
  width: 68px;
}
.header__phone {
  width: 34px;
  height: 34px;
  display: block;
  background-image: url(../img/phone_main.svg);
  background-size: 34px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__opacity {
  opacity: 0;
}
.header__phone-bg {
  width: 68px;
  height: 68px;
  position: relative;
  background-image: url(../img/circle.svg);
  background-size: 33px;
  background-position: center;
}
.header__phone-bg--fast {
  animation: bg-animation-fast 2s infinite;
}
.header__phone-bg--slow {
  animation: bg-animation 2s infinite;
}
.header__phone-overlay {
  width: 68px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0);
  animation: overlay-opacity 2s infinite;
}
.header__wrapper {
  padding: 10px;
  position: relative;
}
.header__logo {
  display: inline-block;
  width: 50%;
  min-width: 152px;
  max-width: 315px;
  margin-bottom: 12px;
}
.header__item, .header__item a {
  color: rgb(245, 245, 245);
  font-size: 12px;
  letter-spacing: 0.01em;
  font-family: "TenorSans";
  font-weight: 400;
  line-height: 1.3em;
}
.header__description {
  max-width: 80%;
}
.header__item a:hover {
  color: rgb(249, 0, 0);
}
.header__burger {
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: block;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(201, 40, 40);
  border-radius: 1vw;
  margin: 0 auto;
  margin-bottom: 2.5vw;
}
.header__burger span {
  position: relative;
  height: 100%;
  display: block;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  position: absolute;
  transition: 0.25s transform, 0.25s top 0.25s;
  width: 22px;
  height: 2px;
  min-height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(201, 40, 40);
}
.header__burger span::before {
  top: 30%;
}
.header__burger span::after {
  top: 60%;
}
.header__menu {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.4s opacity, 0.1s z-index 0.4s;
}
.header--opened .header__phone-bg {
  display: none;
}
.header--opened .header__burger span::before, .header--opened .header__burger span::after {
  top: 50%;
  transition: 0.25s top, 0.25s transform 0.25s;
}
.header--opened .header__burger span::after {
  transform: translateX(-50%) rotate(-45deg);
}
.header--opened .header__burger span::before {
  transform: translateX(-50%) rotate(45deg);
}
.header--opened .header__menu {
  z-index: 2;
  opacity: 1;
  transition: 0.1s z-index, 0.4s opacity 0.1s;
}

@keyframes overlay-opacity {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  70% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgb(0, 0, 0);
  }
}
@keyframes bg-animation {
  0% {
    background-size: 33px;
  }
  100% {
    background-size: 88px;
  }
}
@keyframes bg-animation-fast {
  0% {
    background-size: 33px;
  }
  30% {
    background-size: 33px;
  }
  100% {
    background-size: 88px;
  }
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
  .header__phone-bg {
    display: none;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__menu, .header--opened .header__menu {
    display: none;
  }
  .header__item, .header__item a {
    font-size: 15px;
  }
  .header__description-wrapper {
    max-width: 60%;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 980px) {
  .header {
    position: fixed;
    height: 98px;
    z-index: 2;
    width: 100%;
  }
  .header__description-wrapper {
    max-width: 65%;
    display: flex;
  }
  .header__description {
    min-width: 299px;
    width: 50%;
  }
  .header__description--address {
    min-width: 354px;
  }
  .header__wrapper {
    max-width: 1120px;
    margin: 0 auto;
  }
  .header__item, .header__item a {
    font-size: 15px;
  }
}
.menu {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item {
  display: block;
  color: rgb(30, 30, 30);
  font-family: "Arial";
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
.main__bg {
  background-image: url(../img/bg_main.webp);
  background-size: cover;
  background-position: center;
}
.main__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.main__wrapper {
  padding: 50px 7.5vw 0 7.5vw;
}
.main__title {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(245, 245, 245);
  margin-bottom: 48px;
}
.main__title--animation {
  animation: opacity 2s;
}
.main__button {
  cursor: pointer;
  margin-bottom: 46px;
  margin-right: 50px;
  background-color: rgb(249, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 13.6px;
  line-height: 1.4em;
  padding: 5px 20px;
  position: relative;
  transition: all 0.2s;
  border-radius: 3px;
}
.main__button:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
}
.main__button--animation {
  animation: opacity 1.5s;
}
.main__button--express {
  padding-top: 6px;
  padding-bottom: 6px;
  animation: button-opacity 1.5s, main-express 1.5s infinite;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 0;
}
.main__button::after {
  content: "";
  display: block;
  position: absolute;
  height: 26px;
  width: 165px;
  background-image: url(../img/button_shadow.png);
  background-position-x: 100%;
  bottom: -26px;
  right: -20px;
}

@media (min-width: 768px) {
  .main__button {
    font-size: 20px;
  }
}
@media (min-width: 980px) {
  .main {
    min-height: 100vh;
    padding-top: 98px;
  }
  .main__title {
    display: flex;
    align-items: center;
    font-size: 60px;
    padding-left: 40px;
    background-image: linear-gradient(to right, rgb(249, 0, 0) 0, rgb(249, 0, 0) 10px, transparent 10px);
    height: 340px;
    position: relative;
    margin-bottom: 150px;
  }
  .main__title--animation {
    animation: main-text 1s;
    animation-timing-function: ease;
  }
  .main__title--animation::after, .main__title--animation::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    height: 10px;
    background-color: red;
    animation-timing-function: ease;
  }
  .main__title--animation::after {
    width: 664px;
    animation: border-long 1.4s;
    bottom: 0;
  }
  .main__title--animation::before {
    top: 0;
    width: 200px;
    animation: border-short 1.2s;
  }
  .main__wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    min-height: calc(100vh - 114px);
  }
  .main__button {
    margin-bottom: 100px;
    display: block;
  }
  .main__button--express {
    display: block;
    margin: 0 auto;
  }
}
@keyframes main-text {
  0% {
    opacity: 0;
    background-position-x: -10px;
  }
  75% {
    background-position-x: -10px;
    opacity: 1;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes main-express {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes border-long {
  0% {
    width: 0px;
  }
  71% {
    width: 0px;
  }
  100% {
    width: 665px;
  }
}
@keyframes border-short {
  0% {
    width: 0;
  }
  83% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}
@keyframes button-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opacity {
  animation: opacity 0.8s;
}

.quiz {
  text-align: center;
  border-top: 98px solid transparent;
  margin-top: -98px;
  padding: 30px 0;
}
.quiz__form {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.quiz__question {
  font-size: 20px;
  margin-bottom: 20px;
}
.quiz__field {
  border: 2px solid #000;
  padding: 20px 0;
  border-radius: 15px;
  background-color: #DBDBDB;
}
.quiz__answers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
  align-items: center;
}
.quiz__answers--3 {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.quiz__answers--map {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
.quiz__answers--form {
  flex-direction: column;
  max-width: 500px;
  align-items: center;
}
.quiz__answers--form .quiz__input {
  margin-bottom: 20px;
  width: 80%;
}
.quiz__submit {
  margin-bottom: 0 !important;
}
.quiz__counter {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}
.quiz__radio {
  display: none;
}
.quiz__search {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  border: 2px solid #91ea12;
}
.quiz__search:focus {
  outline: none;
}
.quiz__search:invalid {
  border: 2px solid red;
}
.quiz__radio:checked + .quiz__btn {
  background-color: #91ea12;
  color: #000;
}
.quiz__map {
  width: 90%;
  margin: 0 auto;
  height: 280px;
}
.quiz__btn {
  text-transform: uppercase;
  background-color: #858282;
  border-radius: 10px;
  padding: 10px 0;
  width: 170px;
  display: block;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
  color: #fff;
}
.quiz__btn:not(:last-child) {
  margin-bottom: 20px;
}
.quiz__btn:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.quiz__answer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.quiz__answer:not(:last-child) {
  margin-bottom: 15px;
}
.quiz__label {
  font-size: 16px;
  margin-bottom: 10px;
}
.quiz__input {
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #91ea12;
}
.quiz__input:invalid {
  border: 2px solid rgb(249, 0, 0);
}
.quiz__input:focus {
  outline: none;
}
.quiz__input:not(:required) {
  border: 2px solid #000;
}
.quiz__control {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  outline: none;
}
.quiz__control:focus path {
  stroke: rgb(18, 116, 18);
}
.quiz__icon {
  width: 40px;
  height: 40px;
  transition: all 0.2s;
}
.quiz__icon:hover {
  transform: scale(1.15);
}
.quiz__message {
  grid-column: 2;
  font-size: 19px;
}
.quiz__message .form__status {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
.quiz__error {
  color: rgb(249, 0, 0);
}
.quiz__next {
  grid-column: 3;
}
.quiz__prev {
  grid-column: 1;
}
.quiz__controls {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media (min-width: 450px) {
  .quiz__answers {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .quiz__answers--dimension {
    flex-direction: column;
  }
  .quiz__answers--3 {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
  .quiz__btn {
    width: 145px;
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .quiz__search {
    margin-bottom: 30px;
  }
  .quiz__label {
    font-size: 20px;
  }
  .quiz__controls {
    bottom: 10px;
  }
  .quiz__icon {
    width: 50px;
    height: 50px;
  }
  .quiz__field {
    padding: 30px 0;
  }
  .quiz__answers {
    margin-bottom: 50px;
  }
  .quiz__counter {
    margin-bottom: 30px;
  }
  .quiz__form {
    width: 80%;
  }
  .quiz__question {
    font-size: 28px;
  }
}
@media (min-width: 980px) {
  .quiz__answer {
    width: auto;
  }
  .quiz__answer:not(:last-child) {
    margin-bottom: 0;
  }
  .quiz__answers--dimension {
    flex-direction: row;
  }
  .quiz__question {
    font-size: 40px;
  }
}
.services {
  padding-top: 18px;
}
.services__wrapper {
  padding: 0 20px;
}
.services__title {
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: center;
}
.services__img {
  margin-bottom: 30px;
  border-radius: 10px;
}
.services__text {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}
.services__btn {
  border: none;
  cursor: pointer;
  box-shadow: 0.79px 0.62px 7px black;
  background-color: #FF2C00;
  color: rgb(245, 245, 245);
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 5px 8px;
  border-radius: 3px;
  transition: all 0.2s;
}
.services__btn:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.services__item {
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.services__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .services {
    padding-bottom: 26px;
  }
  .services__title {
    font-size: 36px;
  }
  .services__img {
    width: 360px;
    height: 282px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
    margin-bottom: 56px;
  }
  .services__item {
    display: flex;
    width: 649px;
    margin: 0 auto 56px auto;
    padding: 0;
  }
  .services__description {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .services__btn {
    padding: 8.5px 18px;
    box-shadow: none;
    font-size: 19px;
    letter-spacing: 0.95px;
  }
}
@media (min-width: 980px) {
  .services {
    padding-bottom: 26px;
  }
  .services__title {
    font-size: 50px;
  }
  .services__wrapper {
    padding: 0;
    max-width: 1318px;
    margin: 0 auto;
  }
  .services__container {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
  }
  .services__item {
    margin-bottom: 0;
  }
  .services__img {
    transition: all 0.2s;
  }
  .services__img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
}
.experts__img {
  display: none;
}
.experts__content {
  text-align: center;
  background-color: #000;
  padding: 30px 25px 0;
}
.experts__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.35em;
  color: #fff;
  margin-bottom: 26px;
}
.experts__text {
  font-size: 15px;
  line-height: 1.7em;
  font-weight: 700;
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
}
.experts__btn {
  background-color: rgb(249, 0, 0);
  font-size: 13.6px;
  line-height: 1.4em;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  padding: 5px 8px;
  transition: all 0.2s;
  border-radius: 3px;
}
.experts__btn:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
}

@media (min-width: 768px) {
  .experts {
    padding: 0;
  }
  .experts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .experts__img {
    background-image: url(../img/experts_img-small.jpg);
    background-size: cover;
    background-position-y: 40%;
    background-position-x: -260px;
    background-attachment: fixed;
  }
  .experts__title {
    font-size: 35px;
    margin-bottom: 33px;
  }
  .experts__img {
    display: inline;
  }
  .experts__text {
    text-align: left;
    font-size: 17px;
    margin-bottom: 35px;
  }
  .experts__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    align-items: flex-start;
  }
  .experts__btn {
    font-size: 19px;
    padding: 8.5px 28px;
  }
}
@media (min-width: 980px) {
  .experts {
    padding: 92px 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/experts_bg.webp);
    background-size: cover;
    background-position: 50% 50%;
  }
  .experts__wrapper {
    min-height: 696px;
  }
  .experts__title {
    font-size: 50px;
  }
  .experts__text {
    font-size: 20px;
  }
  .experts__content {
    padding: 0 70px;
  }
  .experts__img {
    background-image: url(../img/experts_img.webp);
    background-position-x: -350px;
  }
}
.adjustments {
  padding: 25px 30px 40px;
}
.adjustments__title {
  color: rgb(30, 30, 30);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .adjustments {
    padding: 40px 30px;
  }
  .adjustments__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-row-gap: 15px;
  }
  .adjustments__title {
    font-size: 35px;
    margin-bottom: 45px;
  }
}
@media (min-width: 980px) {
  .adjustments__title {
    font-size: 50px;
  }
  .adjustments__wrapper {
    max-width: 980px;
    margin: 0 auto;
  }
}
.adjustment {
  margin-bottom: 25px;
}
.adjustment:last-child {
  margin-bottom: 0;
}
.adjustment__title {
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  color: #2F2E2E;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  margin-bottom: 32px;
}
.adjustment__title::before {
  content: "";
  display: block;
  margin-right: 20px;
  min-width: 70px;
  min-height: 70px;
  background-size: 70px;
  border-radius: 35px;
  background-color: #ccc;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6);
}
.adjustment__title--price::before {
  background-image: url(../img/adjustment_price.svg);
  background-size: 100%;
}
.adjustment__title--materials::before {
  background-image: url(../img/adjustment_materials.svg);
  background-size: 49px;
  background-position: 60%;
}
.adjustment__title--hands::before {
  background-image: url(../img/adjustment_hands.svg);
  background-size: 60px 41px;
  background-position: center;
}
.adjustment__title--individual::before {
  background-image: url(../img/adjustment_individual.svg);
  background-size: 60px 41px;
  background-position: center;
}
.adjustment__title--money::before {
  background-image: url(../img/adjustment_money.svg);
  background-size: 56px 35px;
  background-position: center;
}
.adjustment__title--heart::before {
  content: "MT";
  font-size: 19px;
  color: rgb(249, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/adjustment_heart.svg);
  background-size: 56px 51px;
  background-position: center 70%;
}
.adjustment__text {
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 700;
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 0.1em;
  padding: 0 10px 10px;
  border-bottom: 2px solid rgb(249, 0, 0);
}

@media (min-width: 768px) {
  .adjustment {
    width: 300px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .adjustment__text {
    font-size: 20px;
    height: 132px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    width: 250px;
  }
  .adjustment__text--toLeft {
    padding-right: 13px;
    background-image: linear-gradient(to left, rgb(249, 0, 0) 0, rgb(249, 0, 0) 3px, transparent 3px);
    position: relative;
    animation: toLeft 0.9s;
    padding-left: 20px;
  }
  .adjustment__text--toLeft::before, .adjustment__text--toLeft::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    background-color: rgb(249, 0, 0);
  }
  .adjustment__text--toLeft::before {
    width: 250px;
    height: 2px;
    top: 0;
    animation: toLeft-long 0.8s;
  }
  .adjustment__text--toLeft::after {
    width: 85px;
    height: 4px;
    bottom: 0;
    animation: toLeft-short 1.2s;
  }
  .adjustment__text--toRight {
    padding-left: 13px;
    background-image: linear-gradient(to right, rgb(249, 0, 0) 0, rgb(249, 0, 0) 3px, transparent 3px);
    position: relative;
    animation: toRight 0.9s;
  }
  .adjustment__text--toRight::before, .adjustment__text--toRight::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    margin: 0 auto;
    background-color: rgb(249, 0, 0);
  }
  .adjustment__text--toRight::before {
    width: 250px;
    height: 2px;
    top: 0;
    animation: toRight-long 0.8s;
  }
  .adjustment__text--toRight::after {
    width: 85px;
    height: 4px;
    bottom: 0;
    animation: toRight-short 1.2s;
  }
  .adjustment__title {
    display: block;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .adjustment__title::before {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    border-radius: 50px;
  }
  .adjustment__title--hands::before {
    background-size: 78px 53px;
  }
  .adjustment__title--money::before {
    background-size: 65px 47px;
  }
  .adjustment__title--materials::before {
    background-size: 60px 60px;
  }
  .adjustment__title--individual::before {
    background-size: 60px 60px;
  }
  .adjustment__title--heart::before {
    background-size: 66px 60px;
    font-size: 25px;
    background-position-y: 60%;
  }
}
@media (min-width: 980px) {
  .adjustment {
    width: 250px;
  }
}
@keyframes toRight {
  0% {
    background-position-x: -3px;
  }
  91% {
    background-position-x: -3px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes toLeft {
  0% {
    background-position-x: 3px;
  }
  91% {
    background-position-x: 3px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes toRight-long {
  0% {
    width: 0;
    left: 125px;
  }
  100% {
    width: 250px;
    left: 0;
  }
}
@keyframes toLeft-long {
  0% {
    width: 0;
    right: 125px;
  }
  100% {
    width: 250px;
    right: 0;
  }
}
@keyframes toRight-short {
  0% {
    width: 0;
  }
  66.6% {
    width: 0;
  }
  100% {
    width: 85px;
  }
}
@keyframes toLeft-short {
  0% {
    width: 0;
    right: 85px;
  }
  66.6% {
    width: 0;
    right: 85px;
  }
  100% {
    right: 0;
    width: 85px;
  }
}
.show-more {
  display: block;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: rgb(249, 0, 0);
  border-radius: 3px;
  padding: 5px 15px;
  margin: 0 auto;
  transition: all 0.2s;
  cursor: pointer;
}
.show-more:hover {
  color: #1e1e1e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  background-color: #DBDBDB;
  transform: translateY(-5px);
}
@media (min-width: 768px) {
  .show-more {
    font-size: 19px;
  }
}
@media (min-width: 980px) {
  .show-more {
    padding: 8.5px 18px;
    box-shadow: none;
    font-size: 19px;
  }
}

.design {
  padding-bottom: 30px;
}
.design__title {
  background-color: #000;
  color: rgb(245, 245, 245);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.design__title--last {
  text-align: left;
}
.design__title--first {
  text-align: right;
}
.design__title--last, .design__title--first {
  padding: 17px 0;
}
.design__content {
  padding: 0 20px;
}
.design__img--wrapper {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.design__img {
  display: block;
  transition: transform 0.3s;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.design__img:hover {
  transform: scale(1.2);
}
.design__text {
  font-size: 13px;
  line-height: 1em;
  display: none;
  text-align: center;
  color: #000;
}
.design__item {
  margin-bottom: 15px;
  display: block;
}
.design__item:last-child {
  margin-bottom: 0;
}
.design__show-more {
  padding-top: 70px;
  background-image: linear-gradient(to bottom, transparent 0%, #fff 40%);
  margin-top: -70px;
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .design__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .design__text {
    font-size: 15px;
  }
  .design__item {
    margin-bottom: 0;
  }
  .design__title {
    font-size: 35px;
  }
  .design__title--last {
    background-color: #fff;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  }
}
@media (min-width: 980px) {
  .design__text {
    font-size: 18px;
  }
  .design__content {
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
  }
  .design__title {
    font-size: 50px;
  }
}
.steps {
  background-color: #000;
  color: #fff;
  padding: 30px 25px;
}
.steps__title {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.steps__text {
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: 10px;
}
.steps__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.steps__item:not(:last-child) {
  margin-bottom: 20px;
}
.steps__wrapper {
  margin-bottom: 20px;
}
.steps__btn {
  background-color: rgb(249, 0, 0);
  color: #fff;
  border: none;
  font-size: 13.6px;
  line-height: 1.4em;
  font-weight: 700;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
}
.steps__btn:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
}

@media (min-width: 768px) {
  .steps {
    padding: 35px 50px;
  }
  .steps__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .steps__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .steps__item {
    width: 30%;
    margin: 0 !important;
  }
  .steps__btn {
    font-size: 19px;
  }
  .steps__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  .steps__item {
    width: 30%;
  }
  .steps__item:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 980px) {
  .steps__title {
    font-size: 50px;
  }
  .steps__text {
    font-size: 25px;
  }
  .steps__content {
    max-width: 1318px;
    margin: 0 auto;
  }
  .steps__wrapper {
    gap: 30px;
    margin-bottom: 40px;
  }
  .steps__btn {
    padding: 8.5px 18px;
    box-shadow: none;
    font-size: 19px;
  }
}
.slider {
  min-width: 270px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}
.slider__close {
  position: fixed;
  width: 38px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  z-index: 7;
  right: 10px;
  top: 10px;
}
.slider__close::after, .slider__close::before {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
}
.slider__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider__leftBtn, .slider__rightBtn {
  width: 75px;
  height: 100vh;
  z-index: 6;
  border: none;
  background-color: transparent;
  background-size: 35px;
  background-position: 50%;
  position: fixed;
  top: 0;
}
.slider__leftBtn {
  background-image: url(../img/slider_leftBtn.svg);
  left: 0;
}
.slider__rightBtn {
  background-image: url(../img/slider_rightBtn.svg);
  right: 0;
}
.slider__counter {
  color: #fff;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 6;
  font-size: 16px;
}
.slider__text {
  position: fixed;
  display: none;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  z-index: 6;
  font-size: 16px;
}
.slider__img {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.3s;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider__img--animated {
  opacity: 0;
}

@media (min-width: 768px) {
  .slider__img {
    max-width: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 980px) {
  .slider__close {
    width: 58px;
    height: 58px;
    top: 20px;
    right: 20px;
  }
  .slider__close::after, .slider__close::before {
    width: 33px;
  }
  .slider__text, .slider__counter {
    font-size: 20px;
  }
  .slider__counter {
    top: 30px;
    left: 30px;
  }
}
.map__wrapper {
  background-color: #000;
  padding: 20px;
}
.map__title {
  font-size: 23px;
  line-height: 1.3em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.map__btn {
  font-size: 13.6px;
  line-height: 1.4em;
  font-weight: 700;
  color: #fff;
  background-color: rgb(249, 0, 0);
  border: none;
  margin-bottom: 10px;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
  display: block;
}
.map__btn:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
}
.map__btn:last-child {
  margin-bottom: 0;
}
.map__map {
  width: 100%;
  height: 300px;
  background-image: url(../img/map_fallback.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .map__map {
    height: 500px;
  }
  .map__title {
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .map__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .map__btn {
    width: 220px;
    margin-bottom: 20px;
    padding: 5px 0;
  }
  .map__btn:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 980px) {
  .map__title {
    font-size: 40px;
  }
  .map__wrapper {
    padding: 20px 0;
  }
  .map__description {
    max-width: 1000px;
    margin: 0 auto;
  }
  .map__btn {
    font-size: 19px;
    width: 287px;
  }
  .map__map {
    height: 700px;
  }
}
.contacts {
  padding: 20px;
  background-color: #000;
}
.contacts__description {
  display: none;
}
.contacts__title {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 700;
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
  text-align: center;
  font-family: "Arial";
}

@media (min-width: 768px) {
  .contacts {
    padding: 50px;
  }
  .contacts__description {
    display: block;
  }
  .contacts__info {
    width: 50%;
  }
  .contacts__wrapper {
    display: flex;
  }
  .contacts__title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
  }
  .contacts__text {
    font-size: 15px;
    display: block;
    line-height: 1.88em;
    color: rgb(245, 245, 245);
    font-family: "Arial";
    font-weight: 400;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
  }
  .contacts__text--mail::before, .contacts__text--phone::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background-size: 23px;
    margin-right: 10px;
  }
  .contacts__text--mail::before {
    background-image: url(../img/mail.svg);
  }
  .contacts__text--phone::before {
    background-image: url(../img/phone.svg);
  }
  .contacts__text:last-child {
    margin-bottom: 0;
  }
  .contacts__text--link:hover {
    color: rgb(249, 0, 0);
  }
}
@media (min-width: 980px) {
  .contacts {
    padding: 50px 20px;
  }
  .contacts__title {
    font-size: 40px;
  }
  .contacts__wrapper {
    max-width: 980px;
    margin: 0 auto;
  }
}
.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.form__label {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(245, 245, 245);
  line-height: 1;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.form__status {
  color: rgb(245, 245, 245);
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
}
.form__text {
  padding: 3px 12px;
  color: rgb(245, 245, 245);
  background-color: #000;
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid rgb(245, 245, 245);
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4em;
  font-family: "Arial";
}
.form__text--area {
  height: 100px;
  resize: none;
}
.form__text:focus {
  outline: none;
}
.form__text:invalid {
  border-color: rgb(255, 64, 64);
}
.form__submit {
  font-size: 17.7px;
  line-height: 1.4em;
  font-weight: 700;
  color: #fff;
  background-color: rgb(249, 0, 0);
  border: none;
  padding: 8px 5px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
}
.form__submit:hover {
  background-color: #DBDBDB;
  color: #1e1e1e;
}
.form__field {
  margin-bottom: 10px;
}
.form__field:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
  }
  .form__field {
    margin-bottom: 20px;
  }
  .form__field:last-child {
    margin-bottom: 0;
  }
  .form__text--area {
    height: 150px;
  }
  .form__submit {
    padding: 8px 20px;
  }
}
.footer {
  padding: 20px;
}
.footer__logo {
  max-width: 315px;
  display: block;
  order: -2;
  margin-bottom: 20px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social {
  order: -1;
  margin-bottom: 20px;
}
.footer__text {
  font-size: 13px;
  font-weight: 700;
  color: rgb(30, 30, 30);
  margin-bottom: 20px;
}
.footer__text:hover:not(.footer__text--copyright) {
  color: rgb(249, 0, 0);
}
.footer__text--copyright {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
  .footer__social {
    order: 0;
  }
  .footer__text {
    margin-bottom: 0;
    font-size: 15px;
  }
  .footer__text--copyright {
    font-size: 16px;
  }
  .footer__social {
    margin-bottom: 0;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 980px) {
  .footer__wrapper {
    max-width: 980px;
    margin: 0 auto;
  }
}
.social {
  display: flex;
}
.social li {
  margin-right: 15px;
}
.social li:last-child {
  margin-right: 0;
}
.social__item {
  display: block;
  width: 23px;
  height: 23px;
  background-position: center;
  background-size: 23px;
  transition: transform 0.5s;
}
.social__item:hover {
  transform: scale(1.4);
}
.social__item--vk {
  background-image: url(../img/vk.svg);
}
.social__item--whatsapp {
  background-image: url(../img/whatsapp.svg);
}
.social__item--telegram {
  background-image: url(../img/telegram.svg);
}

@media (min-width: 768px) {
  .social__item {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-radius: 20px;
  width: 75%;
  min-width: 280px;
}

@media (min-width: 768px) {
  .modal__form {
    width: 50%;
  }
}
.controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.controls__item {
  width: 40px;
  height: 40px;
  display: block;
  background-size: 40px;
}
.controls__item--phone {
  background-image: url(../img/aside_phone.svg);
}
.controls__item--mail {
  background-image: url(../img/aside_mail.svg);
  background-size: 35px;
  background-position: center;
}
.controls__item--whatsapp {
  background-image: url(../img/aside__whatsapp.svg);
}
.controls__item--telegram {
  background-image: url(../img/aside__telegram.svg);
}
.controls li {
  margin-bottom: 15px;
}
.controls li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .controls {
    display: none;
  }
}
.policy {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.policy__wrapper {
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 90vw;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: auto;
  max-width: 900px;
  padding: 20px;
}
.policy__close {
  top: 0;
  right: 0;
}
.policy__text {
  font-size: 15px;
  font-weight: 700;
  text-indent: 30px;
  margin-bottom: 10px;
}
.policy__text a {
  font-weight: 900;
  color: #000;
  text-decoration: underline;
}
.policy__text:last-child {
  margin-bottom: 0;
}
.policy__text--subtitle {
  font-size: 17px;
  font-family: "Arial";
  text-align: center;
}
.policy__title {
  font-size: 20px;
  font-family: "Arial";
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */
