@font-face {
  font-family: 'RubikLight';
  src: url('../fonts/Rubik-Light.woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'RubikBold';
  src: url('../fonts/Rubik-Bold.woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'TenorSans';
  src: url('../fonts/TenorSans.woff');
  font-display: swap;
  font-weight: 400;
}
